{{ define "header" }}
  <header>
    <h1>Looper's Awesome Blog</h1>
    <nav>
      <ul>
        <li>Home</li>
        <li>Posts</li>
      </ul>
    </nav>
  </header>
{{ end }}

{{ define "main" }}
  <main aria-role="main">
    <header class="homepage-header">
      <h1>{{ .Title }}</h1>
    </header>

    <div class="homepage-content">
      {{ .Content }}
    </div>

    <div>
      {{ range first 10 .Site.RegularPages }}
        {{ .Render "summary" }}
      {{ end }}
    </div>
  </main>
{{ end }}